extends ../layout

block content
  #header
  h1= newHeader
  div.form
    form(name="newEntry", action="/index", method="post")
      input(type="text", name="restaurant")
      input(type="text", name="city")
      input(type="select", name="state")
      input(type="select", name="cuisine")
      input(type="text", name="image")
      input(type="text", name="bio")
